.app-wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100vh;
}

.app-title {
  height: 5em;
  width: auto;
  padding-top: 20px;
}

.nav-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.nav-wrapper li {
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  flex: 1;

  border-radius: 9999px;
  font-size: 12px;
  text-transform: uppercase;
}

.button-default {
  background: #395ba7;
  color: white;
  cursor: pointer;
}

.button-disabled {
  background: #dfe6e9;
  color: #b2bec3;
  cursor: not-allowed;
}

.button-default:hover {
  background: #feca06;
  color: white;
}

.pokedex-wrapper {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(239, 83, 80, 0.819765406162465) 42%,
    rgba(239, 83, 80, 1) 79%
  );
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-self: center;
  align-items: center;

  .image-slider-container {
    width: 20rem;
    height: 20rem;
    justify-content: center;
    display: flex;
    overflow: hidden;
    margin: 0 auto;
    background-color: #eeeeee;
    border-radius: 5%;

    .pokedex-window {
      height: 100%;
      width: 100%;
      transition: margin 1s ease 0s;
      display: flex;
      flex-flow: row;

      .display-container {
        position: relative;
        width: 100%;
        height: 100%;

        .pokemon-sprite {
          display: flex;
          height: 20rem;
          width: 20rem;
        }
        .details-container {
          background-color: #24242485;
          display: flex;
          flex-flow: column;
          width: 90%;
          height: 0;
          color: #fff;
          position: absolute;
          bottom: 0;
          transition: height 0.5s;
          padding: 0 1rem;

          &.close {
            height: -2rem;
          }
          &.open {
            height: 6rem;
            padding: 0.5rem 1rem;
          }
          .poke-name {
            width: 100%;
            text-align: right;
            font-weight: 700;
            color: #ffff;
            text-transform: uppercase;
          }
          .stats-wrapper {
            display: flex;
            flex-flow: column;
            width: 40%;

            .stats-row {
              display: flex;
              flex-flow: row;
              color: #242424;
              font-size: 10px;
              font-weight: 700;
              justify-content: space-between;
            }
          }
        }
      }
    }
  }

  @keyframes slide-in {
    0% {
      right: -20rem;
    }
    100% {
      right: 0;
    }
  }

  @keyframes slide-out {
    0% {
      left: 0;
    }
    100% {
      left: -20rem;
    }
  }

  .game-arrows-wrapper {
    display: flex;
    flex-flow: row;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    .game-arrows-vertical {
      background-color: #404040;
      width: 2rem;
      height: 8rem;
      position: absolute;
      border-radius: 5%;
      .clickable {
        cursor: pointer;
      }
      .info-arrow {
        position: absolute;
        left: 4px;
        top: -1.4rem;
        right: 0;
        margin: auto;
      }
      .hide-arrow {
        position: absolute;
        left: 4px;
        right: 0;
        bottom: -1.4rem;
        margin: auto;
      }
      .up {
        position: absolute;
        left: 0;
        top: 5px;
        right: 0;
        margin: auto;
        background-color: #dfe6e9;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        opacity: 75%;
        cursor: pointer;
      }
      .down {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5px;
        margin: auto;
        background-color: #dfe6e9;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        opacity: 75%;
        cursor: pointer;
      }
    }
    .game-arrows-horizontal {
      background-color: #404040;
      width: 8rem;
      height: 2rem;
      border-radius: 5%;
      position: relative;
      .clickable {
        cursor: pointer;
      }
      .prev-arrow {
        position: absolute;
        left: -1.4rem;
        top: 4px;
        bottom: 0;
        margin: auto;
      }
      .next-arrow {
        position: absolute;
        right: -1.4rem;
        top: 4px;
        bottom: 0;
        margin: auto;
      }
      .prev {
        position: absolute;
        left: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #dfe6e9;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        opacity: 75%;
        cursor: pointer;
      }
      .next {
        position: absolute;
        right: 5px;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: #dfe6e9;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        opacity: 75%;
        cursor: pointer;
      }
    }
  }
}

.shop-wrapper {
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex: 1;
  padding-bottom: 30px;
}

.shop-button-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 40%;
  margin-top: 50px;
}

.shop-button-wrapper .button {
  margin-right: 20px;
  margin-left: 20px;
}

.shop-items-wrapper {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 60%;
  flex: 1;
}

.shop-loading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-item {
  margin-bottom: 30px;
  width: 25%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.shop-item img {
  height: 50px;
  margin-bottom: 5px;
  width: auto;
}

.shop-item-details {
  font-size: 10px;
  width: 80%;
}

.shop-item-name {
  margin-right: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.shop-item-cost {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 12px;
}

.bag-svg {
  height: 20px;
  width: auto;
  padding-left: 10px;
}
.gem-svg {
  height: 12px;
  width: auto;
  margin-left: 10px;
}
